.group {
    flex: 0 0;
    text-align: left;
}

.group input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 30px;
    height: 15px;
    margin-bottom: -3px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    box-shadow: 3px 3px 10px -7px #0e09098f inset, -3px -3px 10px -7px #d6d6d65c inset;
}

.group input[type=checkbox]:before {
    content: '';
    background: #003366;
    position: absolute;
    width: 21px;
    height: 21px;
    left: -3px;
    top: -3px;
    border-radius: 50%;
    transition: .3s left cubic-bezier(0.6, -0.28, 0.74, 0.05);
    box-shadow: -3px -3px 10px -7px #0e09098f inset, 3px 3px 10px -7px #d6d6d65c inset;
}

.group input[type=checkbox]:checked:before {
    left: 12px;
}