.todo__item {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px -20px #0e09098f, -10px -10px 30px -20px #d6d6d65c;
}
.todo__item--name{
    flex: 1 0;
    text-align: left;
    font-weight: 400;
    text-transform: capitalize;
    margin-left: 15px;
}
.todo__item--buttons {
    flex: 1 0;
    text-align: right;
}

.todo__item--buttons button {
    background: none;
    padding: 3px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 2px 7px -4px #0e09098f, -2px -2px 7px -3px #d6d6d65c;
    cursor: pointer;
}

.todo__item.--active .todo__item--name{
    color: greenyellow;
}