.timer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex: 1 0;
    max-width: 30%;
    min-height: 195px;
    padding: 25px 0;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 30px -20px #0e09098f, -10px -10px 30px -20px #d6d6d65c;
}

.timer h2 {
    flex: 1 0 100%;
}

.timer span {
    flex: 1 0 100%;
    font-family: 'Major Mono Display', monospace;
    font-size: 35px;
    text-shadow: 2px 2px 10px greenyellow,
                -2px -2px 10px greenyellow,
                -2px 2px 10px greenyellow,
                2px -2px 10px greenyellow,
                0px 1px 1px greenyellow;    
    font-weight: 100;
    letter-spacing: 15px;    
}


.timer button {
    background: none;
    border: none;
    flex: 1 0;
    max-width: inherit;
    box-shadow: 10px 5px 20px -10px #0e09098f, -5px -5px 20px -10px #d6d6d65c;
    cursor: pointer;
    padding: 10px;
    border-radius: 35px;
}